[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/latex"]
	path = vim/bundle/latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/pandoc"]
	path = vim/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/pandoc-syntax"]
	path = vim/bundle/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/bundle/pandoc-after"]
	path = vim/bundle/pandoc-after
	url = https://github.com/vim-pandoc/vim-pandoc-after.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "solarized/gnome-terminal"]
	path = solarized/gnome-terminal
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "solarized/dircolors-solarized"]
	path = solarized/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
